.navbar {
    border-radius: 0;
}
.navbar-toggle {
    display: block;
}
  /* .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-collapse.collapse.in{
    display:block !important;
  } */
.active-route-class {
    background-color: #E2E2E2;
}
