<div class="jumbotron jumbotron-fluid" style="margin-top: -65px;">
    <div class="container">
        <div class="row">
            <!-- <div class="col"> -->
                <h1 class="text-light">Ravenous</h1>
            <!-- </div> -->
        </div>
        <div class="row title-text">
            <p class="text-light">The ultimate recipe book - with none of the filler</p>
        </div>
        <div class="row">
            <div class="searchbar input-group input-group-lg">
                <input 
                    type="text" 
                    class="form-control" 
                    [(ngModel)]="searchTerm"
                    placeholder="Search recipes" 
                    (keydown.enter)="handleSearch()"
                    aria-describedby="basic-addon-search">
                <span class="input-group-append" id="basic-addon-search">
                    <button (click)="handleSearch()" class="btn btn-primary">Search</button>
                </span> 
            </div>
        </div>
    </div>
</div>

<div class="col-12" *ngIf="working && searchResults?.length < 1">
    <app-loading></app-loading>
</div>

<div class="container" *ngIf="searchResults?.length > 0">
    <p>Results for: {{ searchTermPersist }}</p>
    <div class="row">
        <div class="row">
            <div 
                *ngFor="let recipe of searchResults"
                id="list-wrapper"
                class="col-12 col-sm-6 col-md-4">
                <app-recipe-item-card [recipe]="recipe"></app-recipe-item-card>
            </div>
        </div>
    </div>
    <div *ngIf="searchResults?.length < 1 && searchInitiated" class="row">
        <p>No Results for: {{ searchTermPersist }}</p>
    </div>
</div>