<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Ravenous</h1>
        <p>The ultimate recipe book</p>
        <div class="searchbar input-group input-group-lg">
            <input type="text" class="form-control" placeholder="Search recipes" aria-describedby="basic-addon2">
            <span class="input-group-append" id="basic-addon2">
                <button (click)="handleClick()" class="btn btn-primary">Search</button>
            </span> 
        </div>
    </div>
</div>