.card:hover {
    box-shadow: 0px 10px 10px -2px #22222275;
}
.background-placeholder {
    background-image: url('../../../../assets/images/loading_gif.gif');
    background-position: center;
    background-size: cover;
}