<div class="container" style="position:relative;">
    <div 
        *ngIf="errorMessage" 
        class="alert alert-danger alert-dismissable" 
        style="z-index: 20; position:absolute; top: -10px; right: 40px;"
        role="alert">
        <button 
            (click)="dismiss()"
            type="button" 
            class="close" 
            data-dismiss="alert" 
            aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ errorMessage }}
    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form #f="ngForm">
                <div class="form-group">
                    <label for="email">E-Mail</label>
                    <input
                        type="email"
                        id="email"
                        class="form-control"
                        [(ngModel)]="user.email"
                        name="email"
                        required
                        email >
                  <!-- <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span> -->
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        id="password"
                        class="form-control"
                        [(ngModel)]="user.password"
                        name="password"
                        required>
                <!-- <span *ngIf="!username.valid && username.touched">User name is required!</span> -->
                </div>

                <div class="btn-toolbar">
                    <button
                        (click)="login()"
                        class="btn btn-primary">Login</button>
                    <button
                        (click)="signup()"
                        class="btn btn-primary">Signup</button>
                </div>
            </form>
        </div>
    </div>
</div>
      