<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Ingredient</label>
                    <input 
                        ngModel
                        required
                        placeholder="Ingredient Name"
                        type="text" 
                        name="name" 
                        class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Quantity</label>
                    <input 
                        ngModel
                        required
                        pattern="^\s*(?=.*[1-9])\d*(?:\.\d{1,3})?\s*$"
                        step="0.125"
                        type="number" 
                        name="amount" 
                        class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Unit</label>
                    <select ngModel name="unit" class="form-control">
                        <option *ngFor="let unit of units" [ngValue]="unit.val">{{ unit.text }}</option>
                    </select>
                </div>
                <div class="col-sm-3 form-group">
                    <label for="">Actions</label>
                    <div class="btn-toolbar">
                        <button [disabled]="!f.valid" class="btn btn-success" type="submit">{{ editMode ? 'Update':'Add' }}</button>
                        <button (click)="onClearIngredient(f)" class="btn btn-primary" type="button">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>